// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "reset";
@import "helpers";

main {
    min-height: 95vh;
}

// Bug where the image doesn't exist in bootstrap...
//TODO: Change the fill-color to $secondary (?)
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

//====================
//------ NAVBAR ------
//====================

.navbar {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.21);
    z-index: 10;

    img {
        height: 1.3rem;
    }

    .dropdown-toggle:hover {
        text-decoration: none;
    }
}

//======================
//------ DROPDOWN ------
//======================

.dropdown-container {
    position: relative;
    display: inline-block;

    &:hover .dropdown-content {
        display: block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: $body-bg;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        a {
            color: $text-secondary;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: #ddd;
                transition-duration: 0.5s;
            }
        }
    }

    .fas {
        margin-right: 0.5em;
    }
}

//=======================
//------ AUTH-FORM ------
//=======================

.auth-form {
    width: 40%;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.3);
    margin-top: 10%;

    h1 {
        font-size: 1.4em;
    }

    .input-container {
        padding: 0.5em 0;

        input {
            width: calc(100% - 1em);
            padding: 0.4em;

            &[type="checkbox"] {
                width: auto;
            }

            &[type="submit"] {
                @include primary-link($primary);
                color: $text-primary;
                display: block;
                width: 100%;
                font-size: larger;
                padding-top: 0.2em;
                padding-bottom: 0.2em;

                &:hover {
                    background-color: darken($primary, 5);
                    cursor: pointer;
                }
            }
        }
    }

    .small-link {
        color: rgb(0, 81, 255);
        font-size: small;
        display: block;
    }

    .subinfo {
        font-size: small;
        text-align: center;

        .small-link {
            display: inline;
        }
    }
}

//=======================
//------ STARTPAGE ------
//=======================

#startpage {
    width: 100%;

    .hero {
        position: absoulte;
        background-color: black;
        overflow: hidden;
        height: 95vh;

        .hero-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 0.4;
        }

        .container {
            position: relative;
            top: -85%;
        }
        .content {
            h1 {
                font-size: 3rem;
                font-weight: 600;
                color: $text-primary;
                line-height: 150%;

                strong {
                    text-decoration: underline solid $text-primary;
                    font-weight: 700;
                }
            }

            .description {
                color: $text-primary;
                font-size: large;
                max-width: 60%;
                margin: 1em 0;
            }

            a {
                display: inline-block;
                margin-right: 1em;
                min-width: 100px;
                text-align: center;

                &.primary-btn {
                    @include primary-link($primary);
                    font-size: 1.1em;
                    padding: 0.2em 0.8em;
                }

                &.secondary-btn {
                    @include secondary-link($primary);
                    padding: 0.3em 0.8em;
                }
            }
        }

        .recipe {
            color: $text-primary;
            border: 2px solid $secondary;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.3);

            margin-top: 25vh;

            img {
                height: 3em;
                border-radius: 50%;
            }

            .info {
                // margin-left: 1em;
                // line-height: 1.2em;
                // display: flex;
                // flex-direction: column;
                // justify-content: space-between;

                .recipie-owner {
                    font-size: 1.2em;
                }
            }
        }
    }
}

//======================
//------ RECIPIES ------
//======================

#recipie {
    .instruction {
        input[type="checkbox"] {
            width: 1.5em;
            height: 1.5em;

            &:checked + label {
                text-decoration: line-through solid gray;
                color: gray;
            }

            //* Style checkbox according to design when there is available time
        }

        .timer {
            border: none;
            margin-left: 2em;
        }
    }

    .portions {
        opacity: 80%;

        #decrease-portions,
        #increase-portions {
            color: $primary;

            &:hover {
                opacity: 100%;
                color: darken($primary, 15%);
            }
        }
    }

    .ingredient-group {
        .group-title {
            border-radius: 20px 0 0 0;
        }
        li:last-of-type {
            border-bottom-left-radius: 0;
        }
    }

    form {
        .information {
            max-width: 70%;
        }

        .form-check {
            padding-left: 0;

            .form-check-input {
                float: none;
                margin-left: 0;
            }
        }

        .add-group {
            border: 1px solid #ced4da;
            border-radius: 15px;
            height: 12.5em;
            padding: calc(12.5em / 2 - 1em) 0;
        }

        //! Hide steppingarrows in number-input
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }
    }
}

.tag {
    font-size: 90%;
    margin-right: 1em;
    border-radius: 10px;
    padding: 0.1em 0.5em;
}

//======================
//------ COOKBOOK ------
//======================

#cookbook {
    .recipie-info {
        // width: 30%;
        // margin-right: auto;
    }
}