// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "reset";
@import "helpers";

// .content {
//     margin: auto;
//     max-width: $max-width;
// }

main {
    // margin-top: 70px;
    min-height: 85vh;
}

//====================
//------ NAVBAR ------
//====================

.navbar {
    background-color: $primary-color;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.21);
    z-index: 10;

    .navbar-brand img {
        height: 1.3rem;
    }
}

//======================
//------ DROPDOWN ------
//======================

.dropdown-container {
    position: relative;
    display: inline-block;

    &:hover .dropdown-content {
        display: block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: $body-bg;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        a {
            color: $secondary-text-color;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: #ddd;
                transition-duration: 0.5s;
            }
        }
    }

    .fas {
        margin-right: 0.5em;
    }
}

//====================
//------ FOOTER ------
//====================

footer {
    &.wrapper {
        background-color: $primary-color;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .column:nth-of-type(2) {
            text-align: center;
        }

        .column:last-of-type {
            text-align: right;
        }

        h3 {
            font-size: 1.3rem;
            font-weight: 600;
            color: $primary-text-color;
            text-transform: uppercase;
        }
    }

    .second-footer {
        text-align: center;
        color: $primary-text-color;
        font-size: 0.9em;
        font-weight: 300;
        background-color: darken($primary-color, 10%);
        padding: 0.4em 0;
    }
}

//=======================
//------ AUTH-FORM ------
//=======================

.auth-form {
    width: 40%;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.3);
    margin-top: 10%;

    h1 {
        font-size: 1.4em;
    }

    .input-container {
        padding: 0.5em 0;

        input {
            width: calc(100% - 1em);
            padding: 0.4em;

            &[type="checkbox"] {
                width: auto;
            }

            &[type="submit"] {
                @include primary-link($primary-color);
                color: $primary-text-color;
                display: block;
                width: 100%;
                font-size: larger;
                padding-top: 0.2em;
                padding-bottom: 0.2em;

                &:hover {
                    background-color: darken($primary-color, 5);
                    cursor: pointer;
                }
            }
        }
    }

    .small-link {
        color: rgb(0, 81, 255);
        font-size: small;
        display: block;
    }

    .subinfo {
        font-size: small;
        text-align: center;

        .small-link {
            display: inline;
        }
    }
}

//=======================
//------ STARTPAGE ------
//=======================

#startpage {
    width: 100%;

    .hero {
        position: absoulte;
        background-color: black;
        overflow: hidden;
        height: calc(100vh - 70px);

        .hero-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 0.4;
        }

        .container {
            position: relative;
            top: -85%;
        }
        .content {
            h1 {
                font-size: 3rem;
                font-weight: 600;
                color: $primary-text-color;
                line-height: 150%;

                strong {
                    text-decoration: underline solid $primary-text-color;
                    font-weight: 700;
                }
            }

            .description {
                color: $primary-text-color;
                font-size: large;
                max-width: 60%;
                margin: 1em 0;
            }

            a {
                display: inline-block;
                margin-right: 1em;
                min-width: 100px;
                text-align: center;

                &.primary-btn {
                    @include primary-link($primary-color);
                    font-size: 1.1em;
                    padding: 0.2em 0.8em;
                }

                &.secondary-btn {
                    @include secondary-link($primary-color);
                    padding: 0.3em 0.8em;
                }
            }
        }

        .recipe {
            height: 3em;
            padding: 0.5em;
            display: flex;
            color: $primary-text-color;
            border: 2px solid $secondary-color;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.3);
            width: fit-content;

            margin-top: 25vh;

            img {
                height: 3em;
                border-radius: 50%;
            }

            .info {
                margin-left: 1em;
                line-height: 1.2em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .recipie-owner {
                    font-size: 1.2em;
                }
            }
        }
    }
}
