@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;

600;700&display=swap);
:root {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  color: #f4f4f4;
  text-decoration: none;
}

a:hover {
  color: #dbdbdb;
  text-decoration: underline;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.d-none {
  display: none;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 1.5em;
  margin: auto;
}

.content {
  margin: auto;
  max-width: 1200px;
}

main,
.content {
  margin-top: 70px;
  min-height: 80vh;
}

.navbar {
  position: absolute;
  top: 0;
  margin: 0 auto;
  background-color: #A402CD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.21);
  z-index: 10;
}

.navbar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar header .site-name {
  height: 1.7em;
}

.navbar header .site-name svg {
  height: 100%;
}

.navbar header .site-name:hover {
  text-decoration: none;
  color: #f4f4f4;
}

.navbar header ul {
  display: flex;
  align-items: center;
}

.navbar header ul li {
  padding: 0 0.6em;
}

.navbar header ul li .profile-image {
  height: 2em;
}

.navbar header ul li a {
  margin-left: 0.8em;
}

.navbar header ul li a.primary-link {
  border-radius: 10px;
  border: 2px solid #CDA002;
  background-color: #CDA002;
  font-weight: bolder;
  color: #2b2b2b;
  padding: 0 0.8em;
}

.navbar header ul li a.primary-link:hover {
  color: #5e5e5e;
  transition-duration: 0.5s;
}

.navbar header ul li a.secondary-link {
  border-radius: 10px;
  border: 2px solid #CDA002;
  font-weight: normal;
  color: #f4f4f4;
  padding: 0 0.8em;
}

.navbar header ul li a.secondary-link:hover {
  color: #c1c1c1;
  transition-duration: 0.5s;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

.dropdown-container .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f8fafc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-container .dropdown-content a {
  color: #2b2b2b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-container .dropdown-content a:hover {
  background-color: #ddd;
  transition-duration: 0.5s;
}

.dropdown-container .fas {
  margin-right: 0.5em;
}

footer.wrapper {
  background-color: #A402CD;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .container .column:nth-of-type(2) {
  text-align: center;
}

footer .container .column:last-of-type {
  text-align: right;
}

footer .container h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #f4f4f4;
  text-transform: uppercase;
}

footer .second-footer {
  text-align: center;
  color: #f4f4f4;
  font-size: 0.9em;
  font-weight: 300;
  background-color: #7c029a;
  padding: 0.4em 0;
}

.auth-form {
  width: 40%;
  border-radius: 10px;
  box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.3);
  margin-top: 10%;
}

.auth-form h1 {
  font-size: 1.4em;
}

.auth-form .input-container {
  padding: 0.5em 0;
}

.auth-form .input-container input {
  width: calc(100% - 1em);
  padding: 0.4em;
}

.auth-form .input-container input[type=checkbox] {
  width: auto;
}

.auth-form .input-container input[type=submit] {
  border-radius: 10px;
  border: 2px solid #A402CD;
  background-color: #A402CD;
  font-weight: bolder;
  color: #f4f4f4;
  display: block;
  width: 100%;
  font-size: larger;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.auth-form .input-container input[type=submit]:hover {
  background-color: #9002b4;
  cursor: pointer;
}

.auth-form .small-link {
  color: #0051ff;
  font-size: small;
  display: block;
}

.auth-form .subinfo {
  font-size: small;
  text-align: center;
}

.auth-form .subinfo .small-link {
  display: inline;
}

#startpage {
  width: 100%;
}

#startpage .hero {
  position: absoulte;
  background-color: black;
  overflow: hidden;
  height: calc(100vh - 70px);
}

#startpage .hero .hero-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
}

#startpage .hero .content {
  position: relative;
  top: -100%;
}

#startpage .hero .content h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #f4f4f4;
  line-height: 150%;
}

#startpage .hero .content h1 strong {
  -webkit-text-decoration: underline solid #f4f4f4;
          text-decoration: underline solid #f4f4f4;
  font-weight: 700;
}


